$primary_color: #1967d2;
.coremainnav {
    padding: 10px;
    font-size: 0;
    position: fixed;
    width:100%;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 4;
	border-bottom: 1px solid rgba(0,0,0,0.08);
    .logosec,
    .centercol,
    .optionsright {
        display: inline-block;
        vertical-align: middle;
    }
    .logosec {
        width: 80px;
    }
    .centercol {
        display: none;
    }
    .optionsright {
        padding-left: 10px;
        width: calc(100% - 90px);
        text-align: right;
        font-size: 0;
        .otheropts,
        .userimg {
            display: inline-block;
            vertical-align: middle;
        }
        .otheropts {
            width: calc(100% - 60px);
            padding-right: 10px;
            text-align: right;
            .sinicon {
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
                .btnwrap {
                    padding: 5px;
                    width: 40px;
                    height: 40px;
                    overflow: hidden;
                    border-radius: 100%;
                    position: relative;
                    svg {
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
        .userimg {
            width: 45px;
            height: 45px;
            overflow: hidden;
            border-radius: 100%;
        }
    }
}

.mainsidenav {
    position: fixed;
    width: 100%;
    overflow-x: auto;
    left: 0;
    top: 66px;
    background: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
    z-index: 3;
    ul {
        width: max-content;
        margin: 0;
        li {
            display: inline-block;
            vertical-align: middle;
            a {
                color: rgba(0, 0, 0, 0.7);
                font-size: 13px;
                font-weight: 500;
                padding: 10px;
                position: relative;
                svg {
                    display: none;
                }
                &:after {
                    content: "";
                    bottom: 0;
                    position: absolute;
                    left: 50%;
                    width: 50%;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    height: 2px;
                    transform: translateX(-50%);
                }
            }
            &.active {
                a {
                    color: $primary_color;
                    &:after {
                        background: $primary_color;
                    }
                }
            }
        }
    }
}

.container {
    padding-top: 105px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Medium devices (tablets, 1024px and up)
@media (min-width: 1024px) {
    .coremainnav {
       
        .logosec,
        .centercol,
        .optionsright {
            display: inline-block;
            vertical-align: middle;
        }
        .centercol {
            text-align: left;
            padding-left: 15px;
            width: 400px;
            .searchwrap {
                border-radius: 30px;
                overflow: hidden;
                position: relative;
                border: 2px solid rgba(0, 0, 0, 0.08);
                transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
                &:focus-within {
                    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
                    border-color: $primary_color;
                    svg {
                        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
                        fill: $primary_color;
                    }
                }
                svg {
                    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
                    position: absolute;
                    right: 11px;
                    top: 7px;
                    width: 18px;
                    height: 18px;
                    fill: rgba(0, 0, 0, 0.4);
                }
                input {
                    border: none;
                    width: 100%;
                    padding: 6px 20px;
                    line-height: 13px;
                    font-size: 13px;
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
        .optionsright {
            width: calc(100% - 480px);
        }
    }
    .mainsidenav {
        position: fixed;
        left: 0;
        width: 200px;
        height: 90vh;
        z-index: 5;
        padding-top: 15px;
        ul {
            width: 100%;
            span.divided {
                width: 100%;
                height: 1px;
                background: rgba(0, 0, 0, 0.08);
                margin: 15px 0;
                display: block;
            }
            li {
                display: block;
                a {
                    border-top-right-radius: 30px;
                    border-bottom-right-radius: 30px;
                    padding: 10px 25px;
                    font-size: 0;
                    svg,
                    span {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    svg {
                        width: 15px;
                        height: 15px;
                    }
                    span {
                        font-size: 13px;
                        padding-left: 10px;
                    }
                    &:after {
                        display: none;
                    }
                }
                &.active {
                    a {
                        background: #1966d21c;
                        svg {
                            fill: $primary_color;
                        }
                    }
                }
            }
        }
    }
    .container {
        padding-left: 200px;
        padding-top: 66px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .coremainnav {
        padding: 0.7vw;
        .logosec {
            width: 5vw;
        }
        .centercol {
            padding-left: 10vw;
            width: 30vw;
            .searchwrap {
                border-width: 0.08vw;
                border-radius: 2vw;
                input {
                    padding: 0.4vw 1vw;
                    line-height: 1.5vw;
                    font-size: 0.8vw;
                }
                svg {
                    width: 1vw;
                    height: 1vw;
                    right: 0.8vw;
                    top: 0.6vw;
                }
            }
        }
        .optionsright {
            width: calc(100% - 35vw);
            padding-left: 1vw;
            .otheropts {
                padding-right: 1vw;
                .sinicon {
                    margin-right: 1vw;
                    .btnwrap {
                        padding: 0.5vw;
                        width: 2.4vw;
                        height: 2.4vw;
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            transition: all 0.3s ease-in-out;
                            background: #1966d21c;
                            cursor: pointer;
                            svg {
                                transition: all 0.3s ease-in-out;
                                fill: $primary_color;
                            }
                        }
                        svg {
                            width: 1.3vw;
                            height: 1.3vw;
                        }
                    }
                }
            }
            .userimg {
                width: 2.3vw;
                height: 2.3vw;
                cursor: pointer;
            }
        }
    }
    .mainsidenav {
        width: 15vw;
        padding-top: 1vw;
        top: 4vw;
        ul {
            span.divided {
                height: 0.05vw;
                margin: 1vw 0;
                display: block;
            }
            li {
                a {
                    padding: 0.6vw 2vw;
                    width: 100%;
                    svg {
                        width: 1.4vw;
                        height: 1.4vw;
                    }
                    span {
                        font-size: 0.8vw;
                        padding-left: 1vw;
                    }
                }
            }
        }
    }
    .container {
        padding-left: 15vw;
        padding-top: 4vw;
    }
}