.customerswrapper{
    padding: 15px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .custwrapinner{
        .sinrow{
            font-size: 0;
            margin: 0 -10px;
            .sincard{
                display: inline-block;
                vertical-align: top;
                width: calc(50% - 20px);
                margin: 0 10px;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Medium devices (tablets, 1024px and up)
@media (min-width: 1024px) {
    .custwrapinner{
        .sinrow{
            .sincard{
                width: calc(33.33% - 20px);
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

    .custwrapinner{
        padding: 1vw 1.4vw;
        .sinrow{
            .sincard{
                margin: 0 1vw 1vw;
                width: calc(25% - 2vw);
            }
        }
    }
}
