/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap");

$primary_color: #1967d2;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    margin: 0;
    // font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: 0.5rem;
    margin-left: 0;
}

blockquote {
    margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: $primary_color;
  text-decoration: none;
  background-color: transparent;
  text-decoration: none;
  display: inline-block;
  
}

a:hover {
  color: #0056b3;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
    // border-radius: 0;
    background: transparent;
    font-size: 16px;
    box-shadow:0 0 0;
    &.MuiButton-contained{
        box-shadow:0 0 0;
    }
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

.background {
  height: 100%;
  left: 0;
  object-fit: cover;
  top: 0;
  transform: none;
  width: 100%;
  position: absolute;
  z-index: -1;
}

img {
  width: 100%;
  display: block;
}

.clearfix {
  content: "";
  display: table;
  table-layout: fixed;
}


.noproducts {
    text-align: center;
    padding: 50px;
    background: #fff;
    .iconwrap{
        width: 150px;
        margin: 0 auto 20px;
    }
    p{
        font-size: 13px;
    }
}


.headercol{
	h2{
		font-weight: 600;
		font-family: "arial";
		font-size: 25px;
	}
}



.textright{
	text-align: right;
}
.textleft{
	text-align: left;
}
.textcenter{
	text-align: center;
}


.hedwrap{
	padding: 20px 10px;
	// position: sticky;
	// top: 73px;
	// z-index: 2;
	background: #fff;
	.wrapbread{
		font-size: 0;
		.breadcrumb{
			width: 100%;
		}
		.options{
			width: 100%;
			text-align: left;
		}
	}
	.options{
		font-size: 0;
		margin: 15px 0 25px;
		.sincol{
			display: inline-block;
			vertical-align: middle;
			// margin-right: 15px;
			text-align: center;
			a{
				color: #fff;
			}
			button{
				border: none;
				padding: 10px;
				transition: all 0.3s ease-in-out;
				border-radius: 5px;
				&:focus{
					outline: none;
				}

				&:hover{
					transition: all 0.3s ease-in-out;
					background: #0057b30a;
					.icon{
						svg{
							transition: all 0.3s ease-in-out;
							fill: #0056b3;
						}
					}
					span{
						transition: all 0.3s ease-in-out;
						color: #0056b3;
					}
				}
				.icon, span{
					display: inline-block;
					vertical-align: middle;
				}
				.icon{
					width: 20px;
					svg{
						width: 100%;
						height: 20px;
						transition: all 0.3s ease-in-out;
					}
				}
				span{
					padding-left: 10px;
					font-size: 14px;
					transition: all 0.3s ease-in-out;
				}
			}
		}
	}
}

// Responsive related class
.hide-on-mob{
	display: none !important;
}

// Set common background image
.setbackimg{
	background-image: url('../images/svgs/banner_background.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

// Common card

.comformwrap{
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.03);
    margin-bottom: 45px;
    &:last-child{
        margin: 0;
    }

	&.usercard{
		text-align: center;
		margin-bottom: 25px;
		.userimg{
			width: 100px;
			height: 100px;
			overflow: hidden;
			border-radius: 100%;
			margin: 0 auto 25px;
		}

		h3{
			font-family: "Arial";
			padding:0 10px;
		}

		.fromlocation{
			font-size: 0;
			text-align: center;
			padding:0 10px;
			.icon, span{
				display: inline-block;
				vertical-align: middle;
			}
			.icon{
				width: 17px;
				svg{
					width: 17px;
					height: 17px;
					fill: #1967d2;
				}
			}
			span{
				padding-left: 5px;
				color: rgba(0, 0, 0, 0.7);
				font-size: 12px;
			}
		}

		.connection{
			font-size: 0;
			margin-top: 25px;
			button{
				display: inline-block;
				vertical-align: middle;
				font-size: 13px;
				margin: 0 5px;
				width: calc(50% - 10px);
			}
		}

	}


    &.options{
        padding: 20px;
        margin-bottom: 0;
        margin-top: 25px;
        .customtitle{
            font-size: 0;
            font-weight: 500;
            margin-bottom: 5px;
            &.full{
                h3{
                    width: 100%;
                }
            }
            h3, a{
                display: inline-block;;
                vertical-align: middle;
                font-size: 16px;
            }
            h3{
                width: calc(100% - 90px);
                padding-right: 10px;
                font-family: "Arial";
                font-weight: bold;
            }
            a{
                text-align: right;
                width: 80px;
                font-size: 14px;
            }
        }

        .contwrap{
            font-size: 13px;
            color: rgba(0,0,0,0.8);
            margin-bottom: 25px;
        }

        .footerdata{
            padding-top: 10px;
            border-top: 1px solid rgba(0,0,0,0.1);
            font-size: 0;
            span, .icon{
                display: inline-block;;
                vertical-align: middle;
            }
            span{
                font-size: 14px;
                font-weight: 500;
                width: calc(100% - 20px);
            }
            .icon{
                width: 20px;
                cursor: pointer;
                svg{
                    width: 100%;
                    height: 20px;
                }
            }
        }
    }
}

// Dark theme support
body{
	&.dark{
		background: #222222;
		color: #a6a6a6;
		.coremainnav{
			background: #000;
			.centercol {
				.searchwrap {
					&:focus-within{
						svg{
							fill: #fff;
						}
					}
					input{
						background: rgb(39, 39, 39);
						color: #fff;
					}
					svg{
						fill: #a6a6a6;
					}
				}
			}
			.optionsright {
				.otheropts {
					.sinicon {
						.btnwrap{
							svg{
								fill: #a6a6a6;
							}
						}
					}
				}
			}
		}
		.mainsidenav{
			background: #000;
			ul{
				li{
					a{
						color: #a6a6a6;
					}
				}
			}
		}
		.hedwrap{
			background: #222222;
		}
	}
}

@media (min-width: 1024px) {
	.hide-on-mob{
		display: block !important;
	}
	
	.hedwrap{
		.wrapbread{
			font-size: 0;
			.breadcrumb, .options{
				display: inline-block;
				vertical-align: middle;
				font-size: 14px;
			}
	
			.breadcrumb{
				width: 55%;
			}
			.options{
				width: 45%;
				text-align: right;
				margin: 0;
				.sincol{
					margin-left: 10px;
					button{
						span{
							font-size: 14px;
						}
					}
				}
			}
		}
	}

	.customtable{
		.advancedfilters{
			.expandonmobile{
				display: none;
			}
			.expandeddata{
				opacity: 1;
				visibility: visible;
				height: auto;
			}
		}
		.hide-on-mob{
			display: table-cell !important;
		}
	}

	.comformwrap{
        margin-bottom: 25px;
        &.options{
            margin-top: 0;
            margin-bottom: 25px;
		}
		&.usercard{
			.connection{
				button{
					width: 100%;
					&:first-child{
						margin-bottom: 10px;
					}
				}
			}
		}
    }
}



// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	button{
		&.btn{
			font-size: .7vw;
			padding:  .4vw 1vw;
			&.with-icon{
				.icon{
					width: .8vw;
					svg{
						height: .8vw;
					}
				}
				span{
					font-size: .7vw;
					padding-left: .5vw;
				}
			}
		}
	}

	// All the inputs
	.formgroup{
		label{
			font-size: .8vw;
			margin-bottom: .4vw;
		}

		.switch{
			width: 2.2vw;
			height: 1.3vw;
			.slider{
				&.round{
					border-radius:1vw;
				}
				&:before{
					height: 1.1vw;
					width: 1.1vw;
					left: .1vw;
					bottom: .1vw;
				}
			}
			input:checked + .slider:before{
				transform: translateX(.9vw);
			}
		}

		input[type=text],input[type=number],input[type=password],input[type=date], select, textarea{
			line-height: 2vw;
			padding: 0 .7vw;
			border-radius: .2vw;
			border-width: .07vw;
			font-size: .8vw;
			font-family: "Arial";
		}
		input[type=text],input[type=number],input[type=password],input[type=date], select{
			height: 2.1vw;
		}

		button{
			&.trash{
				padding: .4vw .6vw;
				top: 1vw;
				right: 1vw;
				svg{
					width: 1vw;
					height: 1vw;
				}
			}
		}
		
		&.prefix{
			.pref{
				font-size: .8vw;
				font-family: "Arial";
				left: .8vw;
				top: 2vw;
			}
			input{
				padding-left: 3vw;
			}
		} 
		span{
			&.helptext{
				font-size: .6vw;
			}
		}
		.imagedroparea{
			border-radius: .2vw;
			padding: 4vw;
			border-width: .07vw;
			.dropempty{
				img{
					width: 4vw;
				}
				span{
					font-size: .7vw;
				}
			}
		}
		&.checkbox{
			padding-top: 1vw;
			.checkboxtitle{
				width: calc(100% - 2.2vw);
				padding-right: 1vw;
				font-size: .7vw;
			}
		}
		&.valuedrop{
			.wrapvaludrop{
				select{
					line-height: 1.9vw;
					top: .1vw;
					right: .1vw;
					width: 6vw;
					height: 1.9vw;
					border-left: 0.07vw solid rgba(0, 0, 0, 0.1);
					border-radius: 0;
					background-position: 88% .6vw;
					background-size:.7vw;
				}
			}
		}
	}
	.breadcrumb{
		ul{
			li{
				padding-right: 2vw;
				&:before{
					right: 0.8vw;
					top: 0.05vw;
				}
				&:first-child{
					&:before{
						right: 0.8vw;
						top: 0.2vw;
					}
				}
				span, a{
					font-size: 0.8vw;
				}
				svg{
					transition: all 0.3s ease-in-out;
				}
				a{
					transition: all 0.3s ease-in-out;
					&:hover{
						transition: all 0.3s ease-in-out;
						color: $primary_color;
						svg{
							transition: all 0.3s ease-in-out;
							fill: $primary_color;
						}
					}
				}
			}
		}
	}
	.hedwrap{
		padding: 2vw;
	}
	.centerdata{
		padding: 1vw 15vw;
		
	}
	.pagewrapperinner{
		padding: 0 1.8vw;
	}

	.comformwrap{
		padding: 2vw;
		border-radius: .3vw;
		border: .05vw solid rgba(0, 0, 0, 0.1);
		&.usercard{
			padding: 0;
			.userimg{
				width: 5vw;
				height: 5vw;
				margin: 2vw auto 1vw;
			}
			h3{
				font-size: 1vw;
				padding: 0 1vw;
			}

			.fromlocation{
				padding: 0 1vw;
				.icon{
					width: .8vw;
					svg{
						width: .8vw;
						height: .8vw;
					}
				}
				span{
					font-size: .7vw;
					padding-left: .5vw;
				}
			}

			.connection{
				margin:2vw 0 2vw;
				button{
					margin: 0 .7vw;
					display: inline-block;
					vertical-align: middle;
					font-size: .7vw;
					&:first-child{
						margin-bottom: 0;
						width: 40%;
					}
					&:last-child{
						width: calc(35% - .7vw);
					}
					
				}
			}
		}
		&.options{
			.customtitle{
				margin-bottom: 1vw;
				h3{
					font-size: .9vw;
					margin: 0;
				}
			}
			.formgroup{
				margin-bottom: 1vw;
			}
		}
		.wrapinputrow{
			margin-bottom: 0;
			span{
				&.title{
					font-size: 1.2vw;
				}
			}
			.formgroup{
				margin-bottom: 1vw;
				span{
					&.title{
						font-size: 1.2vw;
						margin-bottom: 1vw;
					}
				}
			}
		}
	}

	.customtable{
		.advancedfilters{
			.tablinks{
				overflow-y: inherit;
				ul{
					li{
						a{
							border-bottom-width: .1vw;
							font-size: .8vw;
							padding: .7vw 1vw;
							height: 2.4vw;
							span{
								font-size: .5vw;
							}
							&:hover{
								color: #1967d2;
								border-bottom-color: #1967d2;
								transition: all 0.3s ease-in-out;
							}
						}
					}
				}
			}
		}
		.proimgwithlabel{
			.proimg{
				width: 2.5vw;
				height: 2.5vw;
			}
			span{
				font-size: .8vw;
			}
		}
		.divtable{
			font-size: .8vw;
		}
		.tb-head, .tb-cell{
			padding: .8vw;
			font-size: .8vw;
		}
		.tb-cell{
			color: #000;
		}
	}
}	
